############################
# Project specific ignores #
############################

# Ignore all the UserData folders content, except for the README.md files inside them.
/UserData/*
!/UserData/README.md
# HOLLY MOTHER OF ALL THE NONSENSE!!! YOU GOT TO BE FREAKING KIDING ME!!!
# https://stackoverflow.com/a/16318111 and https://stackoverflow.com/a/29932318
!/UserData/www
/UserData/www/*
!/UserData/www/assets
/UserData/www/assets/*
!/UserData/www/assets/css
!/UserData/www/assets/data
!/UserData/www/assets/fonts
!/UserData/www/assets/js
/UserData/www/assets/css/*
/UserData/www/assets/data/*
/UserData/www/assets/js/*
!/UserData/www/assets/css/bootstrap.min.css
!/UserData/www/assets/css/bootstrap.tweaks.css
!/UserData/www/assets/css/datatables.min.css
!/UserData/www/assets/css/highlight.min.css
!/UserData/www/assets/css/nerdicons.min.css
!/UserData/www/assets/data/index-base.html
!/UserData/www/assets/data/modals.html
!/UserData/www/assets/js/bootstrap.bundle.min.js
!/UserData/www/assets/js/datatables.min.js
!/UserData/www/assets/js/debugManager.js
!/UserData/www/assets/js/functions-generic-init.js
!/UserData/www/assets/js/functions-index.js
!/UserData/www/assets/js/functions-utils.js
!/UserData/www/assets/js/highlight.pack.js
!/UserData/www/assets/js/jquery.min.js

##################
# Global ignores #
##################

# A "trash" folder anywhere in the repository.
__000__/

# Ignore Sublime Text "workspace file" without ignoring the Sublime Text project file.
*.sublime-workspace

# A folder containing log files.
logs/

# Compiled source #
###################
.sass-cache/
__pycache__/
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc
*.pickle
*.inv

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# OS generated files #
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Miscellaneous patterns #
##########################

*~
